/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fbfbfb;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  background: #fdfdff;
  z-index: 99;
}

header nav {
  width: 85%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .logo-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: linear-gradient(120deg, #fed142 30%, #3571a3 100%);
}

header nav .nav-links {
  min-width: 40%;
  display: flex;
  justify-content: space-between;
}

header nav .nav-links li a {
  color: #000000;
  font-size: 17px;
}

h1 {
  width: 560px;
  margin: 8rem auto 3rem auto;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
}

.container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .filter {
  width: 20%;
}

.container .sorting {
  width: 65%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container .sorting p {
  font-style: italic;
  margin-right: 1rem;
  font-size: 14px;
  font-weight: bold;
}

.container .sorting button {
  padding: 8px 12px;
  background: #ffffff;
  color: #483e3e;
  border: 2px solid #a7a7a7;
  border-radius: 16px;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  margin-right: 1rem;
}

.container .sorting button:hover {
  background-color: #3571a3;
  color: #fdfdff;
}

.container .filters-wrapper {
  width: 20%;
  align-self: flex-start;
}

.container .filters-wrapper .main-dropdown {
  position: relative;
  margin: 5px 0;
}

.container .filters-wrapper .main-dropdown .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background: #3571a3;
  color: #fdfdff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.container .filters-wrapper .main-dropdown .dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.container .filters-wrapper .main-dropdown .dropdown-content.dropdown-active {
  display: block;
}

.container .filters-wrapper .main-dropdown .dropdown-content form {
  width: 100%;
}

.container .filters-wrapper .main-dropdown .dropdown-content form .child-dropdown {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background: #fdfdff;
  color: #000000;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.container .filters-wrapper .main-dropdown .dropdown-content form .child-dropdown .second-dropdown {
  margin-left: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .filters-wrapper .main-dropdown .dropdown-content form .child-dropdown-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: none;
}

.container .filters-wrapper .main-dropdown .dropdown-content form .child-dropdown-content.child-dropdown-content-active {
  display: block;
}

.container .filters-wrapper .main-dropdown .dropdown-content form .child-dropdown-content button {
  width: 100%;
  text-align: left;
  background: #fbfbfb;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.container .filters-wrapper .main-dropdown .dropdown-content form .child-dropdown-content button:hover {
  background: #929292;
  color: #fdfdff;
}

.container .cards-wrapper {
  width: 65%;
}

@supports (display: grid) {
  .container .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(32%, 1fr));
    column-gap: 1rem;
    row-gap: 1.3rem;
  }
}

.container .cards-wrapper .card {
  background-color: #fdfdff;
  border: 1px solid #707070;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 2rem;
}

.container .cards-wrapper .card .top-content {
  width: 85%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .cards-wrapper .card .top-content h3 {
  font-weight: bold;
  width: 100px;
}

.container .cards-wrapper .card .middle-content {
  width: 85%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .cards-wrapper .card .bottom-content {
  width: 85%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .cards-wrapper .card .bottom-content p {
  font-size: 11px;
  background-color: #e5e0e0;
  padding: 5px 8px;
  border-radius: 16px;
}

.about-body .about-project {
  width: 60%;
  margin: 2rem auto;
  font-size: 20px;
  text-align: left;
}

.authorization .auth-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.authorization .auth-container form {
  display: none;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 3rem 2rem 3rem 5rem;
  width: 100%;
  height: 40%;
  border-radius: 9px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
}

.authorization .auth-container form h3 {
  font-size: 18px;
  font-weight: bold;
  align-self: center;
  margin-bottom: 2rem;
}

.authorization .auth-container form .msg-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.authorization .auth-container form .msg-wrapper .email-msg {
  background-color: #ff7474;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
  text-align: center;
  font-size: 13px;
  border-radius: 2px;
  position: relative;
  display: none;
}

.authorization .auth-container form .msg-wrapper .email-msg.error {
  display: block;
}

.authorization .auth-container form .msg-wrapper .sb4:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ff7474;
  border-bottom: 10px solid transparent;
  right: 15%;
  bottom: -20px;
}

.authorization .auth-container form label {
  color: #9191a0;
  margin-bottom: 0;
  font-size: 13px;
}

.authorization .auth-container form input {
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  margin: 0 auto 1 auto;
}

.authorization .auth-container form .input.error {
  border: 1px solid #ff7474;
}

.authorization .auth-container form .input.success {
  border: 1px solid #bdd36e;
}

.authorization .auth-container form input:focus {
  outline-color: #3571a3;
}

.authorization .auth-container form .restore-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 1 auto;
}

.authorization .auth-container form .restore-wrapper label {
  color: #000000;
}

.authorization .auth-container form .restore-wrapper div {
  display: flex;
  width: 30%;
  align-items: center;
}

.authorization .auth-container form .restore-wrapper div .remember {
  margin-right: 0.5rem;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 0;
  width: 20%;
}

.authorization .auth-container form .btn-wrapper-onMail {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.authorization .auth-container form .btn-wrapper-onMail #cancel {
  font-size: 18px;
  border: none;
  background: transparent;
  color: #483e3e;
  width: auto;
  margin: 1rem auto;
  padding: 0.8rem 1.8rem;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029;
}

.authorization .auth-container form .btn-wrapper-onMail #enter-send {
  background-color: #3571a3;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 9px;
  box-shadow: 0px 3px 6px #00000029;
  width: auto;
  margin: 1rem auto;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
}

.authorization .auth-container form .recovery,
.authorization .auth-container form .registration {
  font-size: 13px;
  color: #3571a3;
  background: transparent;
  border: none;
  cursor: pointer;
}

.authorization .auth-container form .enter {
  background-color: #3571a3;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 9px;
  box-shadow: 0px 3px 6px #00000029;
  width: auto;
  margin: 1rem auto;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
}

.authorization .auth-container form #recovery,
.authorization .auth-container form #recovery-on-auth {
  align-self: flex-end;
  margin-bottom: 0;
}

.authorization .auth-container form #recovery {
  width: 90%;
  margin: 0 10% 0 0;
  align-self: flex-end;
  text-align: end;
}

.authorization .auth-container form #enter-send {
  margin-top: 3rem;
}

.authorization .auth-container form .agree-policies-wrapper {
  display: flex;
  width: 90%;
  align-items: center;
}

.authorization .auth-container form .agree-policies-wrapper #agree-policies {
  margin: 0;
  margin-right: 0.5rem;
  padding: 0;
  width: 15%;
}

.authorization .auth-container form .agree-policies-wrapper label {
  line-height: 18px;
  font-size: 13px;
}

.authorization .auth-container .active {
  display: flex;
}

.authorization .auth-container .auth-form {
  display: flex;
}

.authorization .auth-container .auth-form.active {
  display: none;
}

.authorization .auth-container .email-form.active {
  display: flex;
}

.authorization .auth-container .pass-form.active {
  display: flex;
}

.authorization .auth-container .failure-icon {
  color: #ff7474;
  margin-left: 0.5rem;
  opacity: 0;
  display: none;
}

.authorization .auth-container .failure-icon.error {
  opacity: 1;
  display: inline-block;
}

.authorization .auth-container .success-icon {
  color: #ffffff;
  background-color: #bdd36e;
  margin-left: 0.5rem;
  border-radius: 100%;
  opacity: 0;
  display: none;
}

.authorization .auth-container .success-icon.success {
  opacity: 1;
  display: inline-block;
}

.authorization .successful-registration {
  display: none;
  margin-top: 8rem;
}

.authorization .successful-registration h3,
.authorization .successful-registration h2 {
  width: 30%;
  font-size: 33px;
  line-height: 38px;
  font-weight: bold;
  color: #3571a3;
  text-align: center;
  margin: 2rem auto;
}

.authorization .successful-registration h2 {
  font-size: 36px;
  line-height: 41px;
}

.authorization .successful-registration p {
  width: 30%;
  font-size: 15px;
  line-height: 17px;
  color: #483e3e;
  text-align: center;
  margin: 2rem auto;
}

.authorization .successful-registration.active {
  display: block;
}

.authorization .auth-container.active {
  display: none;
}

.authorization .successful-recovery-tab {
  width: 50%;
  margin: 8rem auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  padding: 3rem 2rem 3rem 5rem;
  height: 40%;
  border-radius: 9px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
}

.authorization .successful-recovery-tab h3 {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}

.authorization .successful-recovery-tab p {
  color: #483e3e;
  font-size: 15px;
  line-height: 17px;
  text-align: left;
  margin: 4rem auto;
}

.authorization .successful-recovery-tab button {
  font-size: 14px;
  color: #483e3e;
  align-self: flex-end;
  text-align: left;
  background: transparent;
  border: none;
  cursor: pointer;
}

.authorization .successful-recovery-tab.active {
  display: flex;
}

.authorization .successful-pass-change {
  display: none;
  margin-top: 8rem;
}

.authorization .successful-pass-change h2 {
  font-size: 33px;
  line-height: 38px;
  font-weight: bold;
  color: #3571a3;
  text-align: center;
  margin: 2rem auto;
}

.authorization .successful-pass-change.active {
  display: block;
}
/*# sourceMappingURL=global.css.map */