footer {
  width: 100%;
  margin-top: auto;
  background: $lightWhite;
  border: 1px solid $cardsBorderColor;
  padding: 1.5rem 2rem;
  line-height: 18px;
  .copyRightDiv {
    padding: 10px 0px;
    display: flex;

    .copyRightLink {
      a {
        width: 60%;
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .div-2 {
    width: 100%;
    p {
      text-align: center;
    }
  }
}

@media (min-width: 1305px) {
  footer {
    .copyRightDiv {
      width: 1230px;
      margin: 0 auto;
    }
  }
}
