body {
  background: $darkWhiteColor;
}

h1 {
  max-width: 800px;
  margin: 8rem auto 3rem auto;
  text-align: center;
  font-size: 33px;
  font-weight: normal;
  line-height: 50px;
  font-family: "BPG Banner Caps";
  text-transform: uppercase;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  font-family: "DejaVu Sans";

  .sorting {
    margin-bottom: 2rem;

    button {
      margin-right: 2rem;
      font-family: inherit;
      border: none;
      background-color: transparent;
      font-size: 25px;
      cursor: pointer;
    }

    button:focus {
      border: none;
    }
  }

  .filter-container {
    margin: 2rem 0;
    display: none;

    &.active-filter {
      display: block;
    }

    .swiper-slide {
      padding: 0 50px;

      .content-container {
        display: flex;
        align-items: flex-start;
        overflow: hidden;

        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 20px;
          cursor: pointer;

          .circle {
            margin-bottom: 10px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #c5c5c5;
          }

          &.chosen {
            .circle {
              background-color: #3571a3;
            }
          }

          p {
            font-size: 15px;
          }
        }

        .tag {
          padding: 10px;
          background-color: #c5c5c5;
          margin-right: 10px;
          font-size: 15px;
          color: black;
          cursor: pointer;
          white-space: nowrap;

          &.clicked {
            background-color: #3571a3;
            color: white;
          }
        }
      }
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 2rem 0;

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .card {
      border: 1px solid $cardsBorderColor;
      width: 250px;
      height: 250px;
      padding: 10px 15px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      cursor: pointer;
      &:hover {
        background-color: $blueRgba;
      }
      p {
        font-size: 13px;
        font-weight: bold;
        color: $darkBlack;
        width: 100%;
        height: 100px;
      }

      .checkSign {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        margin: 10px 10px 0px 0px;
        span {
          display: flex;
          text-align: center;
          background-color: $greenBackground;
          color: $whiteColor;
          padding: 5px;
          font-weight: bold;
          font-size: 11px;
        }
      }
      .nonCheckSign {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-align: center;
        margin: 10px 10px 0px 0px;
        span {
          display: flex;
          text-align: center;
          color: $newGray;
          font-weight: bold;
          font-size: 11px;
          padding: 5px;
        }
      }

      img {
        margin: 2rem auto 1rem auto;
      }

      .tags-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .tag {
          padding: 5px;
          background-color: $primaryColor;
          margin-right: 5px;
          margin-bottom: 5px;
          font-size: 9px;
          color: $whiteColor;
        }
      }
    }
  }
}

.about-body {
  .about-project {
    width: 60%;
    margin: 2rem auto;
    font-size: 20px;
    text-align: left;
  }
}

.authorization {
  .auth-container {
    width: 50%;
    margin: 0 auto 3rem auto;
    display: flex;
    flex-direction: column;
    form {
      display: none;
      flex-direction: column;
      row-gap: 0.5rem;
      padding: 3rem 2rem 3rem 5rem;
      width: 100%;
      height: 40%;
      border-radius: 9px;
      background-color: $whiteColor;
      box-shadow: 0px 3px 6px #00000029;
      h3 {
        font-size: 18px;
        font-weight: bold;
        align-self: center;
        margin-bottom: 2rem;
        font-family: "BPG Nino Mtavruli";
      }
      .msg-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        width: 100%;
        .email-msg {
          background-color: $errorMessage;
          color: $whiteColor;
          padding: 0.3rem 0.1rem;
          text-align: center;
          font-size: 13px;
          border-radius: 2px;
          position: relative;
          display: none;
          width: 40%;
        }
        .email-msg.error {
          display: block;
        }
        .sb4:before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $errorMessage;
          border-bottom: 10px solid transparent;
          right: 12%;
          bottom: -20px;
        }
      }
      label {
        color: #9191a0;
        margin-bottom: 0;
        font-size: 13px;
        font-family: "BPG Nino Mtavruli";
      }
      input,
      select {
        border: 1px solid $cardsBorderColor;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        margin: 0 auto 1 auto;
        color: $lightBlack;
      }
      .input.error {
        border: 1px solid $errorMessage;
      }
      .input.success {
        border: 1px solid $successMessage;
      }
      input:focus,
      select:focus {
        outline-color: $darkBlue;
      }
      .restore-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto 1 auto;
        label {
          color: $darkBlack;
        }
        div {
          display: flex;
          width: 30%;
          align-items: center;
          .remember {
            margin-right: 0.5rem;
            font-size: 13px;
            cursor: pointer;
            margin-bottom: 0;
            width: 20%;
          }
        }
      }
      .btn-wrapper-onMail {
        display: flex;
        justify-content: space-around;
        width: 90%;
        #cancel {
          font-size: 18px;
          border: none;
          background: transparent;
          width: auto;
          margin: 1rem auto;
          padding: 0.8rem 1.8rem;
          cursor: pointer;
        }
        #enter-send {
          background-color: $darkBlue;
          color: $whiteColor;
          font-size: 18px;
          border: none;
          border-radius: 9px;
          box-shadow: 0px 3px 6px #00000029;
          width: auto;
          margin: 1rem auto;
          padding: 0.8rem 1.8rem;
          cursor: pointer;
        }
      }
      .recovery,
      .registration {
        font-size: 13px;
        color: $primaryColor;
        background: transparent;
        border: none;
        cursor: pointer;
        font-family: "BPG Nino Mtavruli";
      }
      .enter {
        background-color: $darkBlue;
        color: $whiteColor;
        font-size: 18px;
        border: none;
        border-radius: 9px;
        box-shadow: 0px 3px 6px #00000029;
        width: auto;
        margin: 1rem auto;
        font-family: "BPG Nino Mtavruli";
        font-weight: bold;
        padding: 0.8rem 1.8rem;
        cursor: pointer;
      }
      #recovery,
      #recovery-on-auth {
        align-self: flex-end;
        margin-bottom: 0;
      }
      #recovery {
        width: 90%;
        margin: 0 10% 0 0;
        align-self: flex-end;
        text-align: end;
      }
      #enter-send {
        margin-top: 3rem;
      }
      .agree-policies-wrapper {
        display: flex;
        width: 90%;
        align-items: center;
        #agree-policies {
          margin: 0;
          margin-right: 0.5rem;
          padding: 0;
          width: 15%;
        }
        label {
          line-height: 18px;
          font-size: 13px;
        }
      }
    }
    .active {
      display: flex;
    }
    .auth-form {
      display: flex;
    }
    .auth-form.active {
      display: none;
    }
    .email-form.active {
      display: flex;
    }
    .pass-form.active {
      display: flex;
    }
    .failure-icon {
      color: $errorMessage;
      margin-left: 0.5rem;
      opacity: 0;
      display: none;
      position: absolute;
      right: -32%;
      bottom: 35px;
      width: 40%;
    }
    .failure-icon.error {
      opacity: 1;
      display: inline-block;
    }
    .success-icon {
      color: $whiteColor;
      background-color: $successMessage;
      margin-left: 0.5rem;
      border-radius: 100%;
      opacity: 0;
      display: none;
      position: absolute;
      bottom: 35px;
    }

    .success-icon.success {
      opacity: 1;
      display: inline-block;
    }

    .input-icons {
      display: flex;
      position: relative;
      width: 100%;
    }
  }
  .auth-container.active {
    display: none;
  }
  .successful-registration {
    display: none;
    margin-top: 8rem;
    h3,
    h2 {
      width: 30%;
      font-size: 33px;
      line-height: 38px;
      font-weight: bold;
      color: $primaryColor;
      text-align: center;
      margin: 2rem auto;
      font-family: "BPG Nino Mtavruli";
    }
    h2 {
      font-size: 36px;
      line-height: 41px;
    }

    p {
      width: 30%;
      font-size: 15px;
      line-height: 17px;
      color: $lightBlack;
      text-align: center;
      margin: 2rem auto;
    }
  }

  .successful-registration.active {
    display: block;
  }

  .successful-recovery-tab {
    width: 50%;
    margin: 8rem auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    padding: 3rem 2rem 3rem 5rem;
    height: 40%;
    border-radius: 9px;
    background-color: $whiteColor;
    box-shadow: 0px 3px 6px #00000029;
    h3 {
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      color: $darkBlack;
      font-family: "BPG Nino Mtavruli";
    }
    p {
      color: $lightBlack;
      font-size: 15px;
      line-height: 17px;
      text-align: left;
      margin: 4rem auto;
    }
    button {
      font-size: 14px;
      color: $lightBlack;
      align-self: flex-end;
      text-align: left;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .successful-recovery-tab.active {
    display: flex;
  }
  .successful-pass-change {
    display: none;
    margin-top: 8rem;
    h2 {
      font-size: 33px;
      line-height: 38px;
      font-weight: bold;
      color: $primaryColor;
      text-align: center;
      margin: 2rem auto;
    }
  }
  .successful-pass-change.active {
    display: block;
  }
  .my-profile {
    width: 50%;
    margin: 8rem auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    height: 40%;
    border-radius: 9px;
    background-color: $whiteColor;
    box-shadow: 0px 3px 6px #00000029;
    .options-wrapper,
    hr {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      .profile-option {
        font-size: 18px;
        cursor: pointer;
      }
      .profile-option:focus {
        font-weight: bold;
      }
      #profile-option-one {
        font-weight: bold;
      }
    }
    h3 {
      font-size: 18px;
      font-weight: bold;
      align-self: center;
      margin-bottom: 2rem;
      padding: 3rem 0rem;
      font-family: "BPG Nino Mtavruli";
    }
    hr {
      margin: 2rem auto 0 auto;
    }
    form {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      width: 100%;
      margin: 0 auto;
      padding: 3rem 2rem 3rem 5rem;
      label {
        color: #9191a0;
        margin-bottom: 0;
        font-size: 13px;
        font-family: "BPG Nino Mtavruli";
      }
      input,
      select {
        border: 1px solid $cardsBorderColor;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        margin: 0 auto 1 auto;
      }
      .agree-policies-wrapper {
        display: flex;
        width: 60%;
        align-items: flex-start;
        #my-profile-agree-policies {
          width: 10%;
        }
        label {
          margin-right: 0.5rem;
          cursor: pointer;
          margin-top: 0;
          span {
            color: $primaryColor;
          }
        }
      }
      .my-profile-buttons {
        display: flex;
        justify-content: space-around;
        width: 90%;
        .cancel-button {
          font-size: 18px;
          border: none;
          background: transparent;
          width: auto;
          margin: 1rem auto;
          padding: 0.8rem 1.8rem;
          cursor: pointer;
        }
        .enter {
          background-color: $darkBlue;
          color: $whiteColor;
          font-size: 18px;
          border: none;
          border-radius: 9px;
          box-shadow: 0px 3px 6px #00000029;
          width: auto;
          margin: 1rem auto;
          padding: 0.8rem 1.8rem;
          cursor: pointer;
          font-family: "BPG Nino Mtavruli";
        }
      }
    }
  }
  .my-profile.active {
    display: flex;
  }
  .selectDiv {
    position: relative;
    float: left;
    min-width: 200px;
  }
  .selectDiv:after {
    content: ">";
    font: 17px "Consolas", monospace;
    color: $cardsBorderColor;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 15%;
    top: 18px;
    padding: 1%;
    border: 1px solid $cardsBorderColor;
    border-radius: 3px;
    position: absolute;
    pointer-events: none;
  }
  .selectDiv.active:after {
    content: "<";
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 0px 24px;
    background-color: $whiteColor;
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;
  }
}

.contacts-container {
  height: 100vh;
  width: 80%;
  margin: 8rem auto 3rem auto;
  display: flex;
  flex-direction: column;
  @include displayFlex(start, null);
  $margin: 0 0 1rem 0;
  .contacts-titles {
    h2 {
      margin: $margin;
      font-size: 26px;
      font-family: "BPG Nino Mtavruli";
    }
    p {
      margin: $margin;
      font-family: "BPG Banner Caps";
    }
  }
  .contacts-email {
    font-family: "BPG Nino Mtavruli";
    margin: $margin;
    a {
      color: $darkBlack;
      font-size: 16px;
      margin: 0 0 0 0.3rem;
    }
  }

  .contacts-social-media {
    i {
      color: $darkBlue;
    }
  }
}

.page-not-found-container {
  margin: 8rem 0 3rem 0;
  height: 60vh;
  display: flex;
  @include displayFlex();
  .page-not-found-wrapper {
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include displayFlex(space-between);
    font-family: "BPG Nino Mtavruli";
    h2 {
      font-size: 1.7rem;
    }
    .main-page-route {
      align-self: flex-end;
      i {
        color: $darkBlue;
        margin: 0 0.3rem 0 0;
      }
      a {
        color: $darkBlack;
        font-size: 15px;
        border-bottom: 1px solid inherit;
        &:hover {
          border-bottom: 1px solid #000000;
        }
      }
    }
    .emoji-sad {
      position: relative;
      width: 266px;
      height: 266px;
      border: 10px solid $lightGray;
      border-radius: 50%;
      .face {
        width: inherit;
        height: inherit;
        .eye-left {
          position: absolute;
          top: 30%;
          left: 25%;
          transform: translate(-25%, -30%);
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: $lightGray;
        }
        .eye-right {
          position: absolute;
          top: 30%;
          right: 20%;
          transform: translate(-20%, -30%);
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background: $lightGray;
        }
        .mouth-sad {
          position: absolute;
          bottom: 4%;
          left: 50%;
          transform: translate(-50%, 4%);
          width: 106px;
          height: 80px;
          border: 10px solid transparent;
          border-radius: 50%;
          border-top-color: $lightGray;
        }
      }
    }
  }
}
.about-contaioner {
  margin-bottom: 3rem;
  .about-container-top-wrapper {
    width: 100%;
    height: 60vh;
    .about-container-top {
      height: 100%;
      width: 85%;
      margin: 5rem auto 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .about-container-top-about {
        h2 {
          font-size: 35px;
          font-family: "BPG Banner Caps";
          margin: 0 0 1.5rem 0;
        }
        p {
          font-family: "DejaVu Sans";
          font-size: 18px;
          margin: 0 0 3rem 0;
        }
      }
      .about-container-top-goal {
        h2 {
          font-size: 35px;
          font-family: "BPG Banner Caps";
          margin: 0 0 1.5rem 0;
        }
        p {
          font-family: "DejaVu Sans";
          font-size: 18px;
        }
      }
    }
  }
  .about-container-bottom-wrapper {
    .about-container-bottom {
      width: 85%;
      margin: 0 auto;
      h2 {
        padding: 3rem 0 5rem 0;
        font-size: 35px;
        font-family: "BPG Banner Caps";
      }
      .about-container-bottom-team-info {
        min-height: 70vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 2rem;
        .team-info {
          width: 100%;
          height: 100%;
          h4 {
            font-family: "DejaVu Sans";
            font-size: 24px;
          }
          p {
            font-family: "DejaVu Sans";
            font-size: 18px;
            margin: 1rem 0 0 0;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 185px 0px 396px 0px;
  .pre,
  .next {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  }

  .initionDecoration {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin: 0px 8px;
    padding: 6px;

    &:hover {
      border: 1px solid $primaryColor;
      background-color: $primaryColor;
      border-radius: 50%;
      color: white;
      padding: 5px;
    }
  }
  .dots {
    display: flex;
    align-items: center;
    color: black;
  }
  .basebtn {
    border: none;
    width: auto;
    height: auto;
    cursor: pointer;
    margin: 0px 22px;
  }
  .basebtn img {
    opacity: 0.7;
    width: 12px;
    height: 20px;
  }
  .basebtn:hover img {
    opacity: 1;
  }
}
