.recoveryPassword {
  min-height: calc(100vh - 235px);
  margin: 0 auto 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .successful-pass-change {
    display: none;
    flex-direction: column;
  }
  .recoverySection {
    display: flex;
    justify-content: center;
    .pass-form {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      padding: 3rem 0rem;
      width: 627px;
      height: 462px;
      border-radius: 9px;
      background-color: $whiteColor;
      box-shadow: 0px 3px 6px #00000029;
      h3 {
        font-size: 20px;
        font-weight: bold;
        align-self: center;
        margin-bottom: 2rem;
        font-family: "BPG Nino Mtavruli";
      }
      .msg-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        width: 100%;

        label {
          width: 50%;
          display: flex;
          padding-left: 22%;
          color: #9191a0;
          margin-bottom: 0;
          font-size: 13px;
          font-family: "BPG Nino Mtavruli";
        }
      }
      .input-icons {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        input {
          display: flex;
          width: 350px;
          border: 1px solid #707070;
          border-radius: 4px;
          margin-bottom: 1rem;
          padding: 1rem;
          color: #483e3e;
        }
      }
      .recovery {
        width: 90%;
        margin: 0 22% 0 0;
        align-self: flex-end;
        text-align: end;
        font-size: 13px;
        color: #3571a3;
        background: transparent;
        border: none;
        cursor: pointer;
        font-family: "BPG Nino Mtavruli";
      }
      .enter {
        background-color: #3571a3;
        color: #ffffff;
        font-size: 18px;
        border: none;
        border-radius: 9px;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        width: auto;
        margin: 1rem auto;
        font-family: "BPG Nino Mtavruli";
        font-weight: bold;
        padding: 0.8rem 1.8rem;
        cursor: pointer;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
      .registration {
        font-size: 13px;
        color: #3571a3;
        background: transparent;
        border: none;
        cursor: pointer;
        font-family: "BPG Nino Mtavruli";
      }
    }
  }
}
.successful-pass-change {
  font-size: 33px;
  line-height: 38px;
  font-weight: bold;
  color: #3571a3;
  text-align: center;
  margin: 4rem auto;

  h2 {
    margin: 160px 0px 69px;
  }
}
.homePage {
  display: flex;
  justify-content: center;
  background-color: $darkBlue;
  color: $whiteColor;
  font-size: 18px;
  border: none;
  border-radius: 9px;
  box-shadow: 0px 3px 6px #00000029;
  width: auto;
  margin: 4rem auto;
  margin: 4rem auto;
  font-family: "BPG Nino Mtavruli";
  font-weight: bold;
  padding: 21px 29px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
