// Registration Page
#registration-container {
  display: flex;
}
.mainRegistration {
  min-height: 100vh;
  .registration-container {
    margin: 0 auto 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      margin: 8rem auto 3rem auto;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      padding: 3rem 0rem;
      width: 627px;
      border-radius: 9px;
      background-color: #ffffff;
      box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
      .eyeBtn {
        width: 30px;
        height: 20px;
        margin: 15px 0px 0px -30px;
        cursor: pointer;
        font-size: 20px;
        color: #b2b2b2;
      }

      h3 {
        font-size: 20px;
        font-weight: bold;
        align-self: center;
        margin-bottom: 2rem;
        font-family: "BPG Nino Mtavruli";
      }

      .msg-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        width: 100%;

        .email-msg {
          background-color: $errorMessage;
          color: $whiteColor;
          padding: 0.3rem 0.1rem;
          text-align: center;
          font-size: 13px;
          border-radius: 2px;
          position: relative;
          display: none;
          width: 40%;
          margin-right: 80px;
        }
        .email-msg.error {
          display: block;
        }

        .sb4:before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $errorMessage;
          border-bottom: 10px solid transparent;
          right: 12%;
          bottom: -20px;
        }

        label {
          width: 50%;
          display: flex;
          padding-left: 22%;
          color: #9191a0;
          margin-bottom: 0;
          font-size: 13px;
          font-family: "BPG Nino Mtavruli";
        }
      }

      .input.error {
        border: 1px solid $errorMessage;
      }

      .input.success {
        border: 1px solid $successMessage;
      }

      .selector-success {
        border: 1px solid $successMessage;
      }

      .selector-error {
        border: 1px solid $errorMessage;
      }

      .input-icons {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        input {
          display: flex;
          width: 350px;
          border: 1px solid #707070;
          border-radius: 4px;
          margin-bottom: 1rem;
          padding: 1rem;
          color: #483e3e;
        }
      }

      //Selects

      //privace police

      .agree-policies-wrapper {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        .policeDiv {
          display: flex;
          align-items: baseline;
          width: 350px;

          input {
            display: flex;
            align-self: center;
            cursor: pointer;
          }

          label {
            // add link
            display: flex;
            justify-content: flex-start;
            padding-left: 10px;
            font-size: 13px;
            cursor: pointer;
            margin-bottom: 0;

            &:hover {
              color: #3571a3;
            }
          }
        }
      }

      //registration Btn

      .enter {
        background-color: #3571a3;
        color: #ffffff;
        font-size: 18px;
        border: none;
        border-radius: 9px;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        width: auto;
        margin: 1rem auto;
        font-family: "BPG Nino Mtavruli";
        font-weight: bold;
        padding: 15px 40px;
        cursor: pointer;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

// Custom Select

.selectVisual {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

  .select-menu {
    width: 350px;
    cursor: pointer;
    position: relative;

    .menuVisual {
      border: 1px solid #707070;
      background-color: #fff;
      padding: 1rem;
      color: #483e3e;
      font-weight: 500;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.borderVisual {
  border: solid 1px #707070;
}
.optionVisual {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 0 20px;
  max-height: 180px;
  overflow-y: auto;
  transition: 0.2s linear 0.1s;
  height: 0;
  z-index: 5;
  div {
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: 0.1s ease-in-out;
  }
}

.optionVisual {
  position: absolute;
  width: 100%;
  background-color: #fff;
  border-radius: 6px;
  padding: 0 20px;
  max-height: 180px;
  overflow-y: auto;
  transition: 0.2s linear 0.1s;
  height: 0;
  z-index: 5;
  div {
    padding: 8px 0;
    font-weight: 500;
    font-size: 14px;
    transition: 0.1s ease-in-out;
  }
}

.option:hover,
.option.selected {
  color: #3571a3;
}
.option:hover,
.option.selected {
  color: #3571a3;
}

.optionVisual::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}

.optionVisual::-webkit-scrollbar-thumb {
  height: 52px;
  background-color: #efeff5;
  border-radius: 10px;
  border: 1px solid black;
  border: 0.3px solid #707070;
}

.optionVisual.active {
  height: 131px;
}

// Successful-Registration Page

#successful-registration {
  display: none;
}
.successful-registration {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 427px);
  width: 100%;
  margin-top: 240px;

  h2 {
    margin: 0px auto;
    width: 100%;
    font-size: 33px;
    line-height: 38px;
    font-weight: bold;
    color: $primaryColor;
    text-align: center;
    margin: 1rem 0;
    font-family: "BPG Nino Mtavruli";
  }

  p {
    margin: 0px auto;
    padding-top: 50px;
    width: 242px;
    height: 32px;
    text-align: center;
    font: normal normal bold 15px/16px BPG Nino Mtavruli;
    letter-spacing: 0px;
    color: #433f3f;
    opacity: 1;
  }
  .homePage {
    display: flex;
    justify-content: center;
    background-color: $darkBlue;
    color: $whiteColor;
    font-size: 18px;
    border: none;
    border-radius: 9px;
    box-shadow: 0px 3px 6px #00000029;
    width: auto;
    margin: 4rem auto;
    margin: 4rem auto;
    font-family: "BPG Nino Mtavruli";
    font-weight: bold;
    padding: 21px 29px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.successful-registration.active {
  display: block;
}
