body {
  background: $darkWhiteColor;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  background: $lightWhite;
  z-index: 99;
  nav {
    width: $containerWidth;
    margin: 0 auto;
    font-family: 'BPG Nino Mtavruli';
    height: 80px;
    @include displayFlex(space-between, center);
    .logo-wrapper {
      width: 60px;
      height: 60px;
      .logo {
        width: 100%;
        height: 100%;
      }
    }
    .nav-links {
      min-width: 40%;
      @include displayFlex(space-between, null);
      li {
        a {
          color: $darkBlack;
          font-size: 17px;
        }
      }
    }
  }
}

h1 {
  max-width: 800px;
  margin: 8rem auto 3rem auto;
  text-align: center;
  font-size: 33px;
  font-weight: normal;
  line-height: 50px;
  font-family: 'BPG Banner Caps';
  text-transform: uppercase;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  @include displayFlex(space-between);
  font-family: 'DejaVu Sans';
  .filter {
    width: 20%;
  }
  .sorting {
    width: 65%;
    margin: 2rem 0;
    @include displayFlex(flex-start, center);
    p {
      font-style: italic;
      margin-right: 1rem;
      font-size: 14px;
      font-weight: bold;
    }
    button {
      @include buttonStyles;
      margin-right: 1rem;
      font-family: inherit;
    }
    button:hover {
      background-color: $primaryColor;
      color: $lightWhite;
    }
  }
  .filters-wrapper {
    width: 20%;
    align-self: flex-start;
    .main-dropdown {
      position: relative;
      margin: 5px 0;
      .dropdown {
        @include displayFlex(space-between);
        width: 100%;
        font-family: 'DejaVu Sans';
        text-align: left;
        padding: 10px;
        border: none;
        background: $primaryColor;
        color: $lightWhite;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
      }

      .dropdown-content {
        display: none;
        width: 100%;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        &.dropdown-active {
          display: block;
        }

        form {
          width: 100%;
          .child-dropdown {
            @include displayFlex(flex-start);
            width: 100%;
            text-align: left;
            padding: 10px;
            border: none;
            background: $lightWhite;
            color: $darkBlack;
            border: 1px solid $lightGray;
            border-radius: 5px;
            cursor: pointer;
            outline: none;

            .second-dropdown {
              margin-left: 5px;
              width: 100%;
              @include displayFlex(space-between);
            }
          }

          .child-dropdown-content {
            @include displayFlex(flex-start, flex-start);
            flex-direction: column;
            display: none;

            &.child-dropdown-content-active {
              display: block;
            }

            button {
              width: 100%;
              text-align: left;
              background: $darkWhiteColor;
              padding: 10px;
              border: none;
              cursor: pointer;

              &:hover {
                background: $darkGray;
                color: $lightWhite;
              }
            }
          }
        }
      }
    }
  }
  .cards-wrapper {
    width: 65%;
    @include grid(
      grid-template-columns,
      repeat(3, minmax(32%, 1fr)),
      1.3rem,
      1rem
    );
    .card {
      background-color: $lightWhite;
      border: 1px solid $cardsBorderColor;
      border-radius: 15px;
      @include displayFlex(space-between, center);
      flex-direction: column;
      row-gap: 2rem;
      .top-content {
        width: $containerWidth;
        margin: 1rem auto;
        @include displayFlex(space-between, center);
        h3 {
          font-weight: bold;
          width: 100px;
        }
      }
      .middle-content {
        width: $containerWidth;
        margin: 1rem auto;
        @include displayFlex(center, center);
      }
      .bottom-content {
        width: $containerWidth;
        margin: 1rem auto;
        @include displayFlex(space-between, center);
        p {
          font-size: 11px;
          background-color: $beige;
          padding: 5px 8px;
          border-radius: 16px;
        }
      }
    }
  }
}

.about-body {
  .about-project {
    width: 60%;
    margin: 2rem auto;
    font-size: 20px;
    text-align: left;
  }
}

.authorization {
  .auth-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    form {
      display: none;
      flex-direction: column;
      row-gap: 0.5rem;
      padding: 3rem 2rem 3rem 5rem;
      width: 100%;
      height: 40%;
      border-radius: 9px;
      background-color: $whiteColor;
      box-shadow: 0px 3px 6px #00000029;
      h3 {
        font-size: 18px;
        font-weight: bold;
        align-self: center;
        margin-bottom: 2rem;
      }
      .msg-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        width: 100%;
        .email-msg {
          background-color: $errorMessage;
          color: $whiteColor;
          padding: 0.3rem 0.1rem;
          text-align: center;
          font-size: 13px;
          border-radius: 2px;
          position: relative;
          display: none;
          width: 40%;
        }
        .email-msg.error {
          display: block;
        }
        .sb4:before {
          content: '';
          width: 0px;
          height: 0px;
          position: absolute;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $errorMessage;
          border-bottom: 10px solid transparent;
          right: 12%;
          bottom: -20px;
        }
      }
      label {
        color: #9191a0;
        margin-bottom: 0;
    row-gap: 0.5rem;
    padding: 3rem 2rem 3rem 5rem;
    width: 100%;
    height: 40%;
    border-radius: 9px;
    background-color: $whiteColor;
    box-shadow: 0px 3px 6px #00000029;
    font-family: 'BPG Nino Mtavruli';
    h3 {
      font-size: 18px;
      font-weight: bold;
      align-self: center;
      margin-bottom: 2rem;
    }
    .msg-wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      .email-msg {
        background-color: $errorMessage;
        color: $whiteColor;
        padding: 0.3rem 0.5rem;
        text-align: center;
        font-size: 13px;
      }
      input {
        border: 1px solid $cardsBorderColor;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 90%;
        margin: 0 auto 1 auto;
      }
      .input.error {
        border: 1px solid $errorMessage;
      }
      .input.success {
        border: 1px solid $successMessage;
      }
      input:focus {
        outline-color: $darkBlue;
      }
      .restore-wrapper {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto 1 auto;
        label {
          color: $darkBlack;
        }
        div {
          display: flex;
          width: 30%;
          align-items: center;
          .remember {
            margin-right: 0.5rem;
            font-size: 13px;
            cursor: pointer;
            margin-bottom: 0;
            width: 20%;
          }
        }
      }
      .btn-wrapper-onMail {
        display: flex;
        justify-content: space-around;
        width: 90%;
        #cancel {
          font-size: 18px;
          border: none;
          background: transparent;
          color: $lightBlack;
          width: auto;
          margin: 1rem auto;
          padding: 0.8rem 1.8rem;
          border-radius: 9px;
          cursor: pointer;
          box-shadow: 0px 3px 6px #00000029;
        }
        #enter-send {
          background-color: $darkBlue;
          color: $whiteColor;
          font-size: 18px;
          border: none;
          border-radius: 9px;
          box-shadow: 0px 3px 6px #00000029;
          width: auto;
          margin: 1rem auto;
          padding: 0.8rem 1.8rem;
          cursor: pointer;
        }
      }
      .recovery,
      .registration {
        font-size: 13px;
        color: $primaryColor;
        background: transparent;
        border: none;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        font-family: 'BPG Nino Mtavruli';
        font-weight: bold;
      }
      .enter {
        background-color: $darkBlue;
        color: $whiteColor;
        font-size: 18px;
        border: none;
        border-radius: 9px;
        box-shadow: 0px 3px 6px #00000029;
        width: auto;
        margin: 1rem auto;
        font-family: 'BPG Nino Mtavruli';
        font-weight: bold;
        padding: 0.8rem 1.8rem;
        cursor: pointer;
      }
      #recovery,
      #recovery-on-auth {
        align-self: flex-end;
        margin-bottom: 0;
      }
      #recovery {
        width: 90%;
        margin: 0 10% 0 0;
        align-self: flex-end;
        text-align: end;
      }
      #enter-send {
        margin-top: 3rem;
      }
      .agree-policies-wrapper {
        display: flex;
        width: 90%;
        align-items: center;
        #agree-policies {
          margin: 0;
          margin-right: 0.5rem;
          padding: 0;
          width: 15%;
        }
        label {
          line-height: 18px;
          font-size: 13px;
        }
      }
    }

    .active {
      display: flex;
    }
    .auth-form {
      display: flex;

    .recovery,
    .registration {
      font-size: 13px;
      color: $primaryColor;
      background: transparent;
      border: none;
      font-family: 'DejaVu Sans';
      cursor: pointer;
    }
    .enter {
      background-color: $darkBlue;
      color: $whiteColor;
      font-size: 18px;
      border: none;
      border-radius: 9px;
      box-shadow: 0px 3px 6px #00000029;
      width: auto;
      margin: 1rem auto;
      padding: 0.8rem 1.8rem;
      font-family: 'BPG Nino Mtavruli';
      font-weight: bold;
      cursor: pointer;

    }
    .auth-form.active {
      display: none;
    }
    .email-form.active {
      display: flex;
    }
    .pass-form.active {
      display: flex;
    }
    .failure-icon {
      color: $errorMessage;
      margin-left: 0.5rem;
      opacity: 0;
      display: none;
      position: absolute;
      right: -32%;
      bottom: 35px;
      width: 40%;
    }
    .failure-icon.error {
      opacity: 1;
      display: inline-block;
    }
    .success-icon {
      color: $whiteColor;
      background-color: $successMessage;
      margin-left: 0.5rem;
      border-radius: 100%;
      opacity: 0;
      display: none;
      position: absolute;
      bottom: 35px;
    }

    .success-icon.success {
      opacity: 1;
      display: inline-block;
    }

    .input-icons {
      display: flex;
      position: relative;
      width: 100%;
    }
  }

  .successful-registration {
    display: none;
    margin-top: 8rem;
    h3,
    h2 {
      width: 30%;
      font-size: 33px;
      line-height: 38px;
      font-weight: bold;
      color: $primaryColor;
      text-align: center;
      margin: 2rem auto;
    }
    h2 {
      font-size: 36px;
      line-height: 41px;
    }

    p {
      width: 30%;
      font-size: 15px;
      line-height: 17px;
      color: $lightBlack;
      text-align: center;
      margin: 2rem auto;
    }
  }

  .successful-registration.active {
    display: block;
  }

  .auth-container.active {
    display: none;
  }

  .successful-recovery-tab {
    width: 50%;
    margin: 8rem auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    padding: 3rem 2rem 3rem 5rem;
    height: 40%;
    border-radius: 9px;
    background-color: $whiteColor;
    box-shadow: 0px 3px 6px #00000029;
    h3 {
      font-size: 18px;
      line-height: 21px;
      font-weight: bold;
      color: $darkBlack;
    }
    p {
      color: $lightBlack;
      font-size: 15px;
      line-height: 17px;
      text-align: left;
      margin: 4rem auto;
    }
    button {
      font-size: 14px;
      color: $lightBlack;
      align-self: flex-end;
      text-align: left;
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  .successful-recovery-tab.active {
    display: flex;
  }

  .successful-pass-change {
    display: none;
    margin-top: 8rem;
    h2 {
      font-size: 33px;
      line-height: 38px;
      font-weight: bold;
      color: $primaryColor;
      text-align: center;
      margin: 2rem auto;
    }
  }
  .successful-pass-change.active {
    display: block;
  }
}
