body {
  background: $darkWhiteColor;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 3px 6px #00000029;
  background: $lightWhite;
  z-index: 99;
  nav {
    width: $containerWidth;
    margin: 0 auto;
    height: 80px;
    @include displayFlex(space-between, center);
    .logo-wrapper {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-image: linear-gradient(120deg, #fed142 30%, $darkBlue 100%);
    }
    .nav-links {
      min-width: 40%;
      @include displayFlex(space-between, null);
      li {
        a {
          color: $darkBlack;
          font-size: 17px;
        }
      }
    }
  }
}

h1 {
  width: 560px;
  margin: 8rem auto 3rem auto;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
  @include displayFlex(space-between);
  .filter {
    width: 20%;
  }
  .sorting {
    width: 65%;
    margin: 2rem 0;
    @include displayFlex(flex-start, center);
    p {
      font-style: italic;
      margin-right: 1rem;
      font-size: 14px;
      font-weight: bold;
    }
    button {
      @include buttonStyles;
      margin-right: 1rem;
    }
    button:hover {
      background-color: $primaryColor;
      color: $lightWhite;
    }
  }
  .filters-wrapper {
    width: 20%;
    align-self: flex-start;

    .main-dropdown {
      position: relative;
      margin: 5px 0;

      .dropdown {
        @include displayFlex(space-between);
        width: 100%;
        text-align: left;
        padding: 10px;
        border: none;
        background: $primaryColor;
        color: $lightWhite;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
      }

      .dropdown-content {
        display: none;
        width: 100%;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        &.dropdown-active {
          display: block;
        }

        form {
          width: 100%;

          .child-dropdown {
            @include displayFlex(flex-start);
            width: 100%;
            text-align: left;
            padding: 10px;
            border: none;
            background: $lightWhite;
            color: $darkBlack;
            border: 1px solid $lightGray;
            border-radius: 5px;
            cursor: pointer;
            outline: none;

            .second-dropdown {
              margin-left: 5px;
              width: 100%;
              @include displayFlex(space-between);
            }
          }

          .child-dropdown-content {
            @include displayFlex(flex-start, flex-start);
            flex-direction: column;
            display: none;

            &.child-dropdown-content-active {
              display: block;
            }

            button {
              width: 100%;
              text-align: left;
              background: $darkWhiteColor;
              padding: 10px;
              border: none;
              cursor: pointer;

              &:hover {
                background: $darkGray;
                color: $lightWhite;
              }
            }
          }
        }
      }
    }
  }
  .cards-wrapper {
    width: 65%;
    @include grid(
      grid-template-columns,
      repeat(3, minmax(32%, 1fr)),
      1.3rem,
      1rem
    );
    .card {
      background-color: $lightWhite;
      border: 1px solid $cardsBorderColor;
      border-radius: 15px;
      @include displayFlex(space-between, center);
      flex-direction: column;
      row-gap: 2rem;
      .top-content {
        width: $containerWidth;
        margin: 1rem auto;
        @include displayFlex(space-between, center);
        h3 {
          font-weight: bold;
          width: 100px;
        }
      }
      .middle-content {
        width: $containerWidth;
        margin: 1rem auto;
        @include displayFlex(center, center);
      }
      .bottom-content {
        width: $containerWidth;
        margin: 1rem auto;
        @include displayFlex(space-between, center);
        p {
          font-size: 11px;
          background-color: $beige;
          padding: 5px 8px;
          border-radius: 16px;
        }
      }
    }
  }
}

.about-body {
  .about-project {
    width: 60%;
    margin: 2rem auto;
    font-size: 20px;
    text-align: left;
  }
}

.auth-container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 3rem 6rem;
    width: 100%;
    height: 40%;
    border-radius: 9px;
    background-color: $whiteColor;
    box-shadow: 0px 3px 6px #00000029;
    h3 {
      font-size: 18px;
      font-weight: bold;
      align-self: center;
      margin-bottom: 1rem;
    }
    label {
      color: #9191a0;
      margin-bottom: 0;
      font-size: 13px;
    }
    input {
      border: 1px solid $cardsBorderColor;
      border-radius: 4px;
      padding: 1rem;
    }
    .restore-wrapper {
      display: flex;
      justify-content: space-between;
      input {
        margin-right: 0.5rem;
        align-self: flex-start;
        cursor: pointer;
      }
      label {
        color: $darkBlack;
        align-self: flex-start;
      }
    }
    #enter,
    #enter-send {
      background-color: $darkBlue;
      color: $whiteColor;
      font-size: 18px;
      border: none;
      border-radius: 9px;
      box-shadow: 0px 3px 6px #00000029;
      width: auto;
      margin: 0 auto;
      padding: 0.8rem 1.8rem;
      cursor: pointer;
    }
    #recovery,
    #registration {
      font-size: 13px;
      color: $primaryColor;
      background: transparent;
      border: none;
      cursor: pointer;
    }
    #recovery {
      align-self: flex-end;
    }
    #enter-send {
      margin-top: 3rem;
    }
  }
}
