$primaryColor: #3571a3;
$whiteColor: #ffffff;
$darkWhiteColor: #fbfbfb;
$darkBlack: #000000;
$lightBlack: #483e3e;
$beige: #E5E0E0;
$lightWhite: #fdfdff;
$cardsBorderColor: #707070;
$containerWidth: 85%;
$lightGray: #B2B2B2;
$darkGray: #929292;