$primaryColor: #3571a3;
$darkBlue: #3571a3;
$whiteColor: #ffffff;
$darkWhiteColor: #fbfbfb;
$darkBlack: #000000;
$lightBlack: #483e3e;
$beige: #e5e0e0;
$lightWhite: #fdfdff;
$cardsBorderColor: #707070;
$containerWidth: 85%;
$lightGray: #b2b2b2;
$darkGray: #929292;
