$primaryColor: #3571a3;
$darkBlue: #3571a3;
$whiteColor: #ffffff;
$darkWhiteColor: #fbfbfb;
$darkBlack: #000000;
$lightBlack: #483e3e;
$beige: #e5e0e0;
$lightWhite: #fdfdff;
$cardsBorderColor: #707070;
$containerWidth: 85%;
$lightGray: #b2b2b2;
$darkGray: #929292;
$errorMessage: #ff7474;
$successMessage: #bdd36e;
$greenBackground: rgba(98, 189, 79, 1);
$blueRgba: rgba(53, 113, 163, 0.2);
$newGray: #433f3f;
$errorMessage: #ff7474;
