@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./mainStyles";
@import "./aboutStyle";
@import "./authStyles";
@import "./header";
@import "./footerStyles";
@import "./registrationStyle";
@import "./myProfile.scss";
@import "./recoveryPassword.scss";
@import "./mathStyles.scss";
@import "./internPageStyle.scss";
